

<!--Content START-->  
<div class="jumbotron jumbotron-fluid bg-primary text-white mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-2 d-flex justify-content-center">
                <img class="img-fluid" src="../assets/angular.png">
            </div>
            <div class="col-sm-12 col-md-10" style="display: flex;flex-direction: column;justify-content: center;">
                <h1 class="display-4">Welcome to my first Angular App</h1>
                <p class="lead">The goal here is to get used to the framework. So, let's get started.</p>
            </div>
        </div>
    </div>
</div>

<div class="container main-container">
    <div class="row mb-5">
        <div class="col-sm-12 col-md-3">
            <div class="card mb-3">
                <a href='https://www.freepik.com/free-photos-vectors/background'>
                    <img src="../assets/platform.jpg" class="card-img-top img-fluid"  alt="platform">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Multiplatform</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-block btn-primary">More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="card mb-3">
                <a href='https://www.freepik.com/free-photos-vectors/background'>
                    <img src="../assets/performance.jpg" class="card-img-top"  alt="performance">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Performance</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-block btn-primary">More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="card mb-3">
                <a href='https://www.freepik.com/free-photos-vectors/background'>
                    <img src="../assets/productivity.jpg" class="card-img-top img-fluid"  alt="productivity">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Productivity</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-block btn-primary">More</a>
                </div>
            </div>
        </div>        
        <div class="col-sm-12 col-md-3">
            <div class="card mb-3">
                <a href='https://www.freepik.com/free-photos-vectors/background'>
                    <img src="../assets/features.jpg" class="card-img-top img-fluid"  alt="features">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Features</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-block btn-primary">More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Content END-->