/* You can add global styles to this file, and also import other style files */
.main-container{
    margin-top: 56px;
}

.footer{
    display: flex; 
    justify-content: center; 
    align-items: center;
}